<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.CustomerDao" >

    <sql id="Base_column">
        id,khno,`name`,area,cus_manager,`level`,myd,xyd,address,post_code,phone,fax,
        web_site,yyzzzch,fr,zczj,nyye,khyh,khzh,dsdjh,gsdjh,state,is_valid,create_date,update_date
    </sql>
    <!--根据条件查询客户列表-->
    <select id="selectByParams" parameterType="customerQuery" resultType="customer">
        select <include refid="Base_column"/>
        from t_customer
        <where>
            is_valid=1
            <if test="khno !=null and khno != ''">
              and  khno like concat('%',#{khno},'%')
            </if>
            <if test="name !=null and name != ''">
              and `name` like concat('%',#{name},'%')
            </if>
        </where>
        order by id desc
    </select>
    <!--根据客户名称获取记录-->
    <select id="selectByNmae" parameterType="string" resultType="customer">
        select <include refid="Base_column" />
        from t_customer
        where `name` = #{name}
    </select>

    <insert id="insert" parameterType="customer">
        insert into t_customer(khno,`name`,area,cus_manager,`level`,myd,xyd,address,post_code,phone,fax,
                               web_site,yyzzzch,fr,zczj,nyye,khyh,khzh,dsdjh,gsdjh,state,is_valid,create_date,update_date)
        values(#{khno},#{name},#{area},#{cusManager},#{level},#{myd},#{xyd},#{address},#{postCode},#{phone},#{fax},
                    #{webSite},#{yyzzzch},#{fr},#{zczj},#{nyye},#{khyh},#{khzh},#{dsdjh},#{gsdjh},#{state},#{isValid},#{createDate},#{updateDate})
    </insert>
</mapper>