<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.LinkmanDao" >

    <sql id="Base_column">
       id,cus_id,link_name,sex,zhiwei,office_phone,phone
    </sql>
    <!--根据客户ID查询客户列表-->
    <select id="selectByParams" parameterType="linkmanQuery" resultType="linkman">
        select <include refid="Base_column"/>
        from t_customer_linkman
        <where>
            is_valid=1 and cus_id=#{cusId}
        </where>
    </select>
    <!--添加联系人-->
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="linkman">
        insert into t_customer_linkman(cus_id,link_name,sex,zhiwei,office_phone,phone,
                                       is_valid,create_date,update_date)
        values(#{cusId},#{linkName},#{sex},#{zhiwei},#{officePhone},#{phone},#{isValid},
                        #{createDate},#{updateDate})
    </insert>
    <!--更新联系人-->
    <update id="update" parameterType="linkman">
        update t_customer_linkman
        set
            link_name=#{linkName},
            sex=#{sex},
            zhiwei=#{zhiwei},
            office_phone=#{officePhone},
            phone=#{phone},
            update_date=#{updateDate}
        where id=#{id}
    </update>
    <!--删除联系人-->
    <update id="delete" parameterType="int">
        update t_customer_linkman
        set is_valid=0,
            update_date=now()

    </update>
</mapper>