<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.RoleDao" >

  <!--条件查询-->
  <select id="selectByParams" resultType="role">
    select id,role_name,role_remark,is_valid,create_date,update_date
    from t_role
    where is_valid=1
  </select>
  <!--根据名称获取记录-->
  <select id="selectByName" resultType="role">
    select id,role_name,role_remark,is_valid,create_date,update_date
    from t_role
    where role_name=#{roleName}
  </select>

  <!--添加-->
  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="role">
    insert into t_role(role_name,role_remark,
                          is_valid,create_date,update_date)
    values(#{roleName},#{roleRemark},
          #{isValid},#{createDate},#{updateDate})
  </insert>
  <!--更新-->
  <update id="update" parameterType="role">
    update t_role
    set
      role_name=#{roleName},
    <if test="null != isValid and isValid &gt;= 0">
      is_valid=#{isValid},
    </if>
      role_remark=#{roleRemark},
      update_date=#{updateDate}
    where id=#{id}
  </update>
  <!--删除-->
  <update id="deleteRole" parameterType="string">
    update t_role
    set is_valid=0,
      update_date=now()
    where id in (${ids})
  </update>
  <!--根据Id获取权限-->
  <select id="selectById" resultType="role">
    select id,role_name,role_remark,is_valid,create_date,update_date
    from t_role
    where is_valid=1 and id=#{id}
  </select>
</mapper>
